# Pick-a-Pic

In [7]:
import pandas as pd
path="/home/haoqian/Golden-Noise-for-Diffusion-Models/pick_a_pic/train-00000-of-00645-b66ac786bf6fb553.parquet"
save_path="/home/haoqian/Golden-Noise-for-Diffusion-Models/pick_a_pic/pick_a_pic_prompts.csv"
df = pd.read_parquet(path)

prompts = df["caption"]

for i, prompt in enumerate(prompts[:10]):
    print(f"Prompt {i + 1}: {prompt}")

prompts.to_csv(save_path, mode="a", index=False, header=not pd.io.common.file_exists("prompts.csv"))

Prompt 1: stunningly beautiful space zombie, insanely detailed, photorealistic, 8k, created with midjourney
Prompt 2: Female athletic belts holster short black hair Natalie portman spy in a black pvc flightsuit
Prompt 3: A bouquet of noses
Prompt 4: Lionel Messi studies Torah in a beit midrash
Prompt 5: blook
Prompt 6: happy little girl pulling up her yellow dress in dark alley
Prompt 7: A comic book character drawn by Hergé
Prompt 8: a  red haired hungarian woman, with very long hair, looks like young Tilda Swintom mixed with young Cate Blanchett, dressed in a black medieval dress and cloak in a Transylvanian landscape, oil canvas by Waterhouse, Cesare Saccaggi da Tortona, John Everett Millais . Very atmospheric, dark, dangerous, mystical, beautiful lighting, natural lighting, trending on pinterest.com, Pre-Raphaelite Brotherhood, socceress, inspired by John William Waterhouse's  The Lady of Shalott
Prompt 9: exquisite dress on the mannequin, fashion show, finest silk, high transparency
Prompt 10: Abstract Header Image for an "Online Meeting"

In [9]:

prompt=pd.read_csv(save_path)
prompt

                                                caption
0     stunningly beautiful space zombie, insanely de...
1     Female athletic belts holster short black hair...
2                                    A bouquet of noses
3          Lionel Messi studies Torah in a beit midrash
4                                                 blook
...                                                 ...
1482                                       cartoon gown
1483  anime illustration of fairy king oberon from m...
1484                                    PixelArt female
1485                   A Siamang gibbon eating an apple
1486                        Costa Rican animals pattern

[1487 rows x 1 columns]